/* Slightly offset profile picture from left side */
.profilePic {
  display: block;
  margin-left: 1.5em;
  margin-right: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1em;
  border: 4px solid #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a:hover {
  color: #84aed8;
}

p {
  font-size: 1.5rem;
  color: #ffffff;
}

a {
  font-size: 2rem;
  font-family: Courier;
  color: #ffffff;
  font-style: bold;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
}

.app {
  width: 100%;
  overflow-x: hidden;

}

.hero-container {
  min-width: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  padding-left: 80px;
  background-image: url('./Images/WebsiteBanner.png');
  background-size: cover;
  overflow-x: hidden;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
}

.message {
  font-size: 1.5rem;
  color: #c3c3c3;
  width: auto;
  margin-top: 30px;
  text-align: left;
  float: bottom;
  padding-left: 4em;
}

.icon-container {
  align-items: flex-end;
  margin: 20px;
  position: relative;
  right: 0;
}
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.intro {
  min-height: 100vh;
  padding: 4rem 2rem;
  background: #84aed8;
  width: auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  color: white;
  margin-top: 1em;
}

.right-side {
  padding-right: 12em;
  padding-bottom: 5em;
  border-color: black;
}

.profilePic {
  display: block;
  margin-left: 1.5em;
  margin-right: auto;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 1em;
  margin-top: 4em;

}

.left-side {
  padding-bottom: 5em;
}

